/* import font  */

/* Light Font */
@font-face {
  font-family: 'Mukta';
  src: url('./assets/fonts/Mukta/Mukta-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Regular Font */
@font-face {
  font-family: 'Mukta';
  src: url('./assets/fonts/Mukta/Mukta-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Semi-Bold Font */
@font-face {
  font-family: 'Mukta';
  src: url('./assets/fonts/Mukta/Mukta-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('./assets/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
}
/* reset css */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Mukta', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'PlayfairDisplay';
  color: #000;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  padding: 10px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

/* header session */
.header {
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  left: 0;
  left: 0;
  width: 100%;
}

.header .nav {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.header .nav .nav__items {
  display: flex;
  align-items: center;
}

.header .nav .nav__item {
  margin: 20px 10px;
}

.header .nav .nav__item-link {
  padding: 5px 20px;
}
.header .nav .nav__item--socials {
  display: flex;
  position: relative;
  padding: 5px 20px;
}

.header .nav .nav__item--socials::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 2px;
  height: 25px;
  background: #000;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.header .nav .nav__item--socials::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 2px;
  height: 23px;
  background: #000;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.header .nav .nav__item--social {
  margin: 0px 5px;
  width: 25px;
  height: 25px;
}

.header .nav .nav__item--search {
  width: 25px;
  height: 25px;
}

/* hero section  */
.hero-section {
  display: flex;
  height: 700px;
  background: url('./assets/images/background-image.png') no-repeat center;
  background-size: cover;
  justify-content: center;
  flex-direction: column;
  padding: 0 10%;
}

.hero-section .hero-section__title {
  font-size: 55px;
  margin: 10px 0;
  margin-top: 25px;
}

.hero-section .hero-section__desc {
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0;
  margin-bottom: 20px;
}

.hero-section .btn {
  width: 120px;
  text-align: center;
  background-color: #e5b702;
}
